@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@300&family=Mulish:wght@500&family=Poppins:wght@200&family=Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.menu-toggle {
  display: none;
}

.container {
  background-color: #3e3c3c;
  display: flex;
  height: 72px;
}

.container .name-info {
  flex: 3;
}

.container ul {
  display: flex;
  justify-content: space-around;
  flex: 1;
}

.list-container li {
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    padding: 0;
  }

  .container {
    background-color: #3e3c3c;
    display: flex;
    height: 90px;
    padding: 10px;
    align-content: center;
    align-items: center;
  }

  .container .name-info {
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 700;
    font-family:
      'Roboto',
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
    text-decoration: none;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    flex: 10;
  }

  .menu-toggle {
    display: block;
    flex: 1;
  }

  .container ul {
    display: none;
  }

  .bio-container {
    display: flex;
    padding: 15vh 10px 30vh 40px;
    background-color: #1c1a19;
    background-image: url(./image/bg-img.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  .bio-container h1 {
    display: flex;
    color: #ff6b00;
    flex-wrap: wrap;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.37px;
    margin: 5px 0;
  }

  .paragragh {
    font-style: normal;
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
  }

  .bio-container h2 {
    color: #fff5e1;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    align-items: center;
    margin: 5px 0;
  }

  .icon {
    display: flex;
    list-style: none;
  }

  .icon img {
    padding: 10px;
  }

  .work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #e5e5e5;
    padding: 24px;
    padding-bottom: 70px;
  }

  .title {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
  }

  .title h2 {
    font-family: Crete Round, Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .title span {
    flex: 1;
    margin: 24px 0;
    flex-basis: 100%;
    flex-grow: 0;
  }

  .post-header {
    font-family: Crete Round, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
  }

  .post-story {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 10px;
    list-style: none;
  }

  .list-item {
    display: flex;
    justify-content: center;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    background: #fff;
    padding: 5px;
  }

  .btn {
    grid-column: 1/3;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    background: #ff6b00;
  }

  .btn a {
    color: #fff !important;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .list-item a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #091e42;
  }

  .project-card {
    margin-top: 20px;
    height: 100vh;
    width: 100%;
    background-image: url(./image/bcg-img-2.png);
    background-repeat: no-repeat;
  }

  .bcg-container {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px;
    flex-direction: column;
  }

  .bcg-container h3 {
    font-family: Crete Round, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #fff;
  }

  .bcg-container p {
    color: #ffff;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .list-2 {
    display: flex;
    justify-content: center;
    border: 1px solid #8993a4;
    box-sizing: border-box;
    padding: 5px;
    background: rgba(255, 255, 255, 0.24);
  }

  .list-2 a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .base-btn {
    background: #ff6b00;
    box-sizing: border-box;
    height: 40px;
    cursor: pointer;
    border: 0;
    font-family: Inter, Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #ffff;
  }

  .base-btn:hover {
    cursor: pointer;
    background: #fff5e1;
    color: #ff6b00;
    border: 1px solid #ff6b00;
  }

  .about-me {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    flex-direction: column;
    background: #1c1a19;
  }

  .about-me-header h2 {
    font-family: Crete Round, sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 88px;
    color: #ff6b00;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
  }

  .post-about-me {
    color: #f4f5f7;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .btn-about-me {
    background: #ff6b00;
    box-sizing: border-box;
    border: none;
    width: 160px;
    padding: 5px;
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #ffff;
  }

  .about {
    background-image: url(./image/illustration-about-me-mobile.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    flex-wrap: wrap;
  }

  .about > * {
    margin: 10px;
  }

  .language {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  .lang-header {
    display: flex;
  }

  .lang-header span {
    width: 15px;
    height: 15px;
    background: #ff6b00;
    transform: rotate(-45deg);
    margin: 13px 10px;
  }

  .lang-header h4 {
    font-family: Crete Round, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    color: #ffff;
    text-align: left;
  }

  .lang-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .lang-list-item a {
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0;
    text-align: center;
    color: #ffff;
    margin: 5px 0;
  }

  .framework {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  .frame-header {
    display: flex;
  }

  .frame-header span {
    width: 15px;
    height: 15px;
    background: #ff6b00;
    margin: 13px 10px;
  }

  .frame-header h4 {
    font-family: Crete Round, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    color: #ffff;
    text-align: left;
  }

  .frame-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .frame-list-item a {
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0;
    text-align: center;
    color: #ffff;
    margin: 5px 0;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 70px;
  }

  .skills-header {
    display: flex;
  }

  .skills-header span {
    width: 15px;
    height: 15px;
    background: #ff6b00;
    border-radius: 50%;
    margin: 13px 10px;
  }

  .skills-header h4 {
    font-family: Crete Round, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    color: #ffff;
    text-align: left;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
  }

  .skills-list-item a {
    text-decoration: none;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0;
    text-align: center;
    color: #ffff;
    margin: 5px 0;
  }
  .lang-container,.skills-container, .frame-container {
    list-style: none;
  }
}
